<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="Window.Height" value="450"/>
    <add key="Window.Width" value="300"/>
    <add key="Window.State" value="Normal"/>
  </appSettings>

</configuration>